<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://miro.medium.com/max/796/1*WY7ELhXIVxbGlUwmhA1PSw.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js')}}"></script>
    <title>Testando flask</title>
</head>
<body onload="rolar()">
    <div id="div-img">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--i_sb3chq--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/fk0849hvg2rt13bpqhjy.jpg" alt="logo-git">
        <h2>Informações de usuários</h2>
    </div>
    <div id="div-form">
        <form method="POST">
            <input type="text" id="entrada" name="nome"><br>
            <input type="submit" id="botao" name="botao" value="GO">
        </form>
    </div>
    {% if msg %}
    <div id="sem-perfil">
        <h1> {{ msg.msg }}</h1>
    </div>
    {% endif %}
    {% if dict_ %}
    <div id="avatar">
        <img src="{{ dict_.avatar_url }}" alt="avatar">
        <a href="{{ dict_.html_url }}"><h4>{{ dict_.name }}</h4><a>
    </div>
    <div id="div-repos">
        <h1 style="font-family: Arial, sans-serif; color: white;text-align: center;">Repositórios</h1>
        {% for rep in dict_.repos %}
            <button>
                <a href="{{ rep.html_url }}">
                    <h3>
                        {{ rep.name }}
                    </h3>
                    <p class="datas">
                        criado: {{ rep.created_at}} <br>
                        modificado: {{ rep.updated_at}} 
                    </p>
                    <p>
                        <strong>Descrição</strong> <br>
                    {{ rep.description }}
                    </p>
                    <p>
                        ⭐ {{ rep.stargazers_count}} <br>
                        linguagem: {{ rep.language }}
                    </p>
                </a>
            </button>
        {% endfor %}
    </div>
    {% endif %}
    {% if dict_ %}
    <div id="perfil">
        <h1>
            Informações
        </h1>
        <div>
            <p>Id: {{ dict_.id}}</p>
            <p>login: {{ dict_.login }}</p>
            <p>Blog: {{ dict_.blog }}</p>
            <p>Localização: {{ dict_.location }}</p>
            <p>Email: {{ dict_.email }}</p>
            <p>Descrição:</p>
            <textarea name="desc" id="text-area" cols="30" rows="10" style="border-radius: 10px;">
                {{ dict_.bio }}
            </textarea>
            <p>Twitter: <a href="{{ dict_.twitter_username }}" target="_blank"><img src="https://imagens.canaltech.com.br/empresas/652.400.jpg" alt="" style="width: 20pt; height: 20pt; border-radius: 50%; margin: auto;"></a></p>
            <p>Repo. publ.: {{ dict_.public_repos }}</p>
            <p>Seguindo: {{ dict_.following }}</p>
            <p>Seguidores: {{ dict_.followers }}</p>
            <p>Entrou em: {{ dict_.created_at }}</p>
            <p>Ultimo login: {{ dict_.updated_at }}</p>
        </div>
    </div>
    <div id="comunidade">
        <h1>
            Seguidores
        </h1>
        {% if dict_.seguidor %}
            {% for seg in dict_.seguidor %}
                <a href="{{ seg.html_url }}" target="_blank"><img src="{{ seg.avatar_url }}" title="{{ seg.login }}"></a>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
</body>
</html>